// Test on Firefox (both on Windows and Linux)
// sass-lint:disable no-important, force-element-nesting, force-pseudo-nesting
// sass-lint:disable no-ids, property-sort-order, zero-unit, no-vendor-prefixes
@-moz-document domain('bangumi.bilibili.com'),
domain('www.bilibili.com'),
domain('live.bilibili.com') {
  $orig-max-width: 1160px;
  $resolutions: 720px 810px 900px 1080px;

  .bilibili-player-video {
    padding: 0px !important;
  }

  #app .player-wrap {
    height: auto !important;
  }

  #app #bofqi.wide {
    position: static !important;
  }

  @media screen and (resolution: 1dppx) {
    // bilibili live player adjust
    .live-room-app .app-content .app-body {
      max-width: 1594px;
    }
  }

  @each $scale in 1 1.25 {
    @media screen and (resolution: #{$scale}dppx) {

      @each $height in $resolutions {
        $width: $height / 9 * 16;
        $offset: ($width / $scale - $orig-max-width) / 2;

        @if $height / $scale >= nth($resolutions, 1) {
          @media (min-width: floor($width / $scale / .75)) {
            .bili-wrapper:not(.mini-player) .player,
            .bangumi-player:not(.mini-player) .player,
            .bangumi-player:not(.mini-player),
            #bofqi.scontent:not(.newfloat) .player {
              width: calc(#{$width} / #{$scale}) !important;
              height: calc(#{$height} / #{$scale} + 68px) !important;
            }

            @if $height >= 1080px {
              #app #bofqi {
                width: calc(1600px / #{$scale}) !important;
                min-height: calc(900px / #{$scale} + 46px) !important;
              }
            }

            #app #bofqi.wide {
              width: calc(#{$width} / #{$scale}) !important;
              height: calc(#{$height} / #{$scale} + 46px) !important;
            }

            .player-box .bili-wrapper:not(.mini-player),
            .video-box-module .bili-wrapper:not(.mini-player),
            #bofqi.scontent:not(.newfloat),
            #app .v-wrap {
              width: calc(#{$width} / #{$scale}) !important;
              max-width: calc(#{$width} / #{$scale}) !important;
            }

            .player-box,
            .video-box-module,
            .player-wrapper {
              .bgray-btn-wrap {
                margin-left: 580px + $offset;
              }
            }

            .bangumi-nav-right {
              transform: translateX(590px + $offset);
            }

            .fixed-nav-m {
              margin-left: 590px + $offset;
            }

          }
        }

      }

    }
  }

}
